.header {
  text-align: center;
  color: #b1bfcf;
  font-weight: bold;
  margin-top: 0.2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.sidebar {
  background: #1a222c;
}

.profile {
  display: flex;

  flex-flow: row nowrap;
}

.profile:hover {
  background: #3d6a97;
}

.profile-image-container {
  margin: 0.3rem;
}

.profile-image {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background: #baf6af;
}

.profile-message {
  margin-left: 1rem;
  width: 10rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 0.01rem solid #b1bfcf;
}

.profile-message p:nth-child(2) {
  color: #b1bfcf;
}

.profile-date {
  margin: 0.5rem 0.5rem 0 0;
  border-bottom: 0.01rem solid #b1bfcf;
}

.profile-date p {
  color: #b1bfcf;
  font-size: 0.8rem;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.main p {
  margin-top: 40rem;
  color: #b1bfcf;
  background: #1a222c;
  height: 1.7rem;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
