html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: 'Open sans', 'Roboto', sans-serif;
  --main-font-size: 16px;
  --button-color: #34b547;
  --button-text-color: #fcfcfc;
}

html {
  font-size: var(--main-font-size);
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
